<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag 'global' %>
	<%= stylesheet_link_tag 'elements' %>

  <title>The page you were looking for doesn't exist (404)</title>
	<style type="text/css">
		body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
		div.dialog {
			width: 25em;
			padding: 4em;
			margin: 4em auto 0 auto;
			border: 1px solid #ccc;
			border-right-color: #999;
			border-bottom-color: #999;
		}
		h1 { font-size: 25px; color: #f00; line-height: 1.5em; }
		.height {height:20px;}
	</style>
</head>

<body>
	<div id="container">
  		<div id="header">
   	  		<div id="logo"><a href="/" title="AndolaSoft eReminder"></a></div>
      		<div id="button-bucket">
  	    		<a href="#">
					<%= image_tag("share.jpg", :alt => "Bookmark Andola eReminder", :width => "125", :height => "16", :border => "0") %>
				</a>
				<div id="button"><a href="#">Blog</a>   |   <a href="#">Learn More</a>		</div>
	  		</div>
  		</div>
  <!-- This file lives in error/404.html.erb -->
	  	<div class="dialog">
	    	<h1>The Action you wanted to perform doesn't exist.</h1>
	    	<p>You may have mistyped the address or the page may have moved.</p>
	  	</div>
		
		<div class="height"></div>
		
		<div id="footer-container">
			<div id="footer">	  
				<a href="#" class="rss"></a>	  
				<div id="socialnetwork">
					<a href="#" class="twitter" title="Follow Andola eReminder on Twitter"></a>
					<a href="#" class="facebook" title="Follow Andola eReminder on Facebook"></a>
				</div>
				<div id="footer-nav" class="bodytext"><a href="#">FeedBack</a>  |  <a href="#">Help</a>|  <a href="#">Policy</a>  |  <a href="#">About Andolasoft</a><br />
				</div>
				<div id="powered" class="bodytext">
					Developed By 
					<a href="http://andolasoft.com">
						<%= image_tag("as_logo.jpg", :alt => "AndolaSoft", :width => "128", :height => "28", :border => "0", :align => "absmiddle") %>
					</a>
				</div>
			</div>
		</div>
	</div>  
</body>
</html>