 <div id="content-bucket">	
		<h1 class="tac">This page is under construction. We will be back soon</h1>
	  	
	
			<div id="last">
				<label class="h50">&nbsp;</label>
				<span class="bodytext"><%= link_to "Back", {:controller => "home"}, :style => "font-weight:bold" %></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="bodytext"><%= link_to "Sign In", {:controller => "home"}, :style => "font-weight:bold" %></span>
	      	</div>
      <div id="clearfix" class="pb50"></div>
	</div>